* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #000;
}
